body {
    margin: auto;
    width: 70%;
    /*background-image: linear-gradient(to top, #5d569b 0%, #66b187 100%); */
    background: #2f3447;
    background-attachment: fixed;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.centered {
    text-align: center;
}

.name,
.language,
.software {
    display: none;
}

#boards {
    margin-top: 8px;
}

iframe {
    display: block !important;
    margin: auto !important;

}

li {
    list-style: none;
    margin-top: 10px;

}

ul {
    padding: unset;
}

#nav {
    margin-top: 5px;
}

img {
    /* width: -webkit-fill-available!important; */
    width: auto;
    height: auto;
    max-width: 50%;
    /* max-height: 371px; */
    /* margin-left: 25%; */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.content {
    padding: 15px;
    background: #ffffffe8;
    /* min-width: 560px; */
    min-height: 213px;
    /* width: auto; */
}
.content.mirrors {
    width: auto;
    position: absolute;
    min-height: auto!important;
    background: #ffff;
    z-index: 999;
    padding: 5px!important;
}

.ui.message {
    padding: 0;
    margin-top: 0;
    /* min-width: 528px; */
    width: 34vw;
}

.ui.message.about {
    padding: 15px;
    width: 70vw;
}

.ui.message .header:not(.ui) {
    font-size: 1.3em !important;
}

.list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search-button {
    margin-top: 8px;
}

.ui.selection.dropdown {

    padding: 0!important;
}

@media screen and (max-width: 1350px) {
    body {
        width: 98%;
    }
    .ui.message {
        width: 96vw;
    }

    .ui.message.about {
        width: 98vw;
        text-wrap: wrap;
    }

    .ui.selection.dropdown {width: 100%;}

    .ui.labeled.input {
        width: 100%;
    }
}