body {
    margin: auto;
    width: 60%;
    /*background-image: linear-gradient(to top, #5d569b 0%, #66b187 100%); */
    background: #2f3447;
    background-attachment: fixed;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.centered {
    text-align: center;
}

.name,
.language,
.software {
    display: none;
}

#boards {
    margin-top: 8px;
}

iframe {
    display: block !important;
    margin: auto !important;

}

li {
    list-style: none;
    margin-top: 10px;

}

ul {
    padding: unset;
}

#nav {
    margin-top: 5px;
}

img {
    width: -webkit-fill-available;
}

.content {
    padding: 15px;
    background: #ffffffe8;
    width: 560px;
    height: 200px;
}
.content.mirrors {
    width: auto;
    position: absolute;
    height: auto;
    background: #ffff;
    z-index: 999;
    padding: 5px!important;
}

.ui.message {
    padding: 0;
    margin-top: 0;
}

.ui.message.about {
    padding: 15px;
}

.ui.message .header:not(.ui) {
    font-size: 1.3em !important;
}

.list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search-button {
    margin-top: 8px;
}

.ui.selection.dropdown {

    padding: 0!important;
}

@media screen and (max-width: 1000px) {
    body {
        width: 98%;
    }
    .content {
        width: 94vw;
    }
}