<div class="ui message about">
    <div class="header">
        About ImageBoards.net
    </div>
    <p>Thank you for visiting my website!</p>
    <p>This is a side project I developed to help people in discovering imageboards. Initially, this project began as a frontend for the cdd0 imageboards.json project. However, since it was abandoned in 2022, I have been maintaining my own list. All the source code is available here: <a href="https://github.com/imageboardsnet" target="_blank">https://github.com/imageboardsnet</a></p>
    <p>Feel free to contact me at me[@]imageboards.net</p>
    <img src="{{ url_for('static', filename='waifu.webp') }}" alt="Image Description">
</div>

