<div class="about-group">
    <div class="ui message inverted about">
        <div class="titlebar"><i class="teal info icon inverted"></i>About ImageBoards.net</div>
        <p>Thank you for visiting my website!</p>
        <p>This is a project I developed to help people in discovering imageboards. Initially, this project began as a
            frontend for the cdd0 imageboards.json project. However, since it was abandoned in 2022, I have been
            maintaining my own list. </p>
            <p>You can easily add your own imageboard or one that is not on the list. To do this, visit https://blossom.imageboards.net/. You can register with one click. You will be given a Login and Password that are randomly generated. At this point, you will be able to freely add an imageboard to the list or claim one. Be aware that manual verification is applied to every new imageboard; it usually takes place every 1-2 days.</p> 
        <p>Feel free to contact me at me[@]imageboards.net</p>
    </div>

    <div class="ui message inverted about">
        <div class="titlebar"><i class="teal hand holding usd icon inverted"></i>Donations</div>
        <p>I develop and host the website for free. The source code is distributed under GPL3. Adding ads to the website would make it actively worse and generate almost no money for me. If you would like, you can donate with crypto.</p>
        <p>BTC : 1AVbUs8BZfpWW222UdddUHqWF7yHDXMsp1</p>
        <p>Monero : 44S8MSPtpjgWmBtXHMW7bueSJroHEKuhFTxp4kyBmN6gWGcjzJ7zpNiM2ckpGYtY6PCRerB2Kbn1Md7fc2zHjakE9sr4J8A</p>
    </div>

    <div class="ui message inverted about">
        <div class="titlebar"><i class="teal share icon inverted"></i>Json Endpoints</div>
        <p> imageboards.json endpoint</p>
        <div class="ui action fluid input">
            <input type="text" value="https://blossom.imageboards.net/imageboards.json" readonly>
        </div>
        <p> imageboards.json endpoint (legacy, like ccd0 list)</p>
        <div class="ui action fluid input">
            <input type="text" value="https://blossom.imageboards.net/imageboards_legacy.json" readonly>

        </div>
    </div>

</div>