<div class="ui inverted container fluid boards">
    <div class="ui inverted cards">
        {% for imb in imageboards %}
        <div class="card">
            <div class="content">
                <div class="header">
                    <img src="https://blossom.imageboards.net/favicons/{{ imb.id }}" class="favicon" alt="chan favicon">
                    {{ imb.name }}
                </div>
                <div class="meta">
                    <br>
                    <div class="ui labels">
                        {% for sw in imb.software %}
                        {% if loop.last %}
                        <div title="{% for sw in imb.software %} {{ sw }} {% endfor %}" class="ui teal inverted basic label"><i class="cog icon"></i> {{ sw }}</div>
                        {% endif %}
                        {% endfor %}

                        {% for lg in imb.language %}
                        <div class="ui teal inverted basic label">
                        {% if lg == 'en' %}
                        <i class="uk flag"> en</i>
                        {% elif lg == 'ja' %}
                        <i class="jp flag"> ja</i>
                        {% elif lg == 'zh' %}
                        <i class="cn flag"> zh</i>
                        {% elif lg == 'ko' %}
                        <i class="kr flag"> ko</i>
                        {% elif lg == 'uk' %}
                        <i class="ua flag"> uk</i>
                        {% elif lg == 'be' %}
                        <i class="by flag"> be</i>
                        {% elif lg == 'ar' %}
                        <i class="eg flag"> ar</i>
                        {% elif lg == 'hi' %}
                        <i class="in flag"> hi</i>
                        {% else %}
                        <i class="{{ lg }} flag"> {{ lg }}</i>
                        {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="description">
                    <p>{{ imb.description }}</p>
                    {% if imb.boards is defined and imb.boards | length > 0 %}
                    <details class="ui accordion">
                        <summary class="title">
                            <a><i class="inverted comments icon"></i> Boards list </a>
                        </summary>
                        <div class="content mirrors">
                            <div class="ui list">
                                {% for board in imb.boards %}
                                <div class="item">{{ board }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </details>
                    {% endif %}

                </div>
            </div>
            <div class="extra content">
                {% if imb.mirrors is defined and imb.mirrors | length > 0 %}
                <details class="ui accordion">
                    <summary class="title">
                        <a href="{{ imb.url }}" target="_blank">{{ imb.url }}</a> <i class="inverted plus icon"></i>
                    </summary>
                    <div class="content mirrors">
                        <p>
                            {% for mi in imb.mirrors %}
                            <a href="{{ mi }}" target="_blank">{{ mi }}</a>
                            {% endfor %}
                        </p>
                    </div>
                </details>
                {% else %}
                <a href="{{ imb.url }}" target="_blank">{{ imb.url }}</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>