<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <title>The ImageBoard Database</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="description" content="{{ 'The BEST way to find a new imageboard, Explore Over 300 Curated Boards!' if nav == '1' else '' }}" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HZSH8K0VZR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HZSH8K0VZR');
</script>
</head>

<body>

    <div id='nav' class="ui inverted segment">
        <div class="ui inverted secondary menu">
        <a class="item {{ 'active' if nav == '1' else '' }}" href='/'>
            <img src="{{ url_for('static', filename='favicon.ico') }}" style="margin-right: 13px; height: 16px; width: 16px;">
            ImageBoards.net
        </a>
        <a class="item {{ 'active' if nav == '2' else '' }}" href='/myboard'>
            Add My Board
        </a>
        <div class="right menu">
            <a class="item {{ 'active' if nav == '3' else '' }}" href='/about'>About</a>
        </div>
    </div>
    </div>


    {{ content |safe }}

    <div class="ui inverted footer segment center">
        <div class="ui container">

            <div class='centered'>
                <h4 class="ui inverted">ImageBoards.net | 2024 | Lotus 1.5</h4>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

</body>

</html>