<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta property="og:site_name" content="ImageBoards.net">
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <div class="ui equal width centered menu borderless fixed inverted navbar">

                <a class="item" href='https://blossom.imageboards.net'>
                    <i class="teal plus icon inverted"></i>
                    Add a Board
                </a>
                <a class="item" href='/'>
                    <img src="{{ url_for('static', filename='favicon.ico') }}"
                        style="margin-right: 13px; height: 16px; width: 16px;" alt="website logo">
                    ImageBoards.net
                </a>
                    <a class="item" href='/about'>
                        <i class="teal info icon inverted"></i>
                        About
                    </a>
            </div>
            {{ content |safe }}
        </div>
        <div class="ui footer segment center inverted">
            <div class="ui container">
                <div class='centered'>
                    <h4 class="ui ">ImageBoards.net | 2024 | <a href="https://github.com/imageboardsnet/Lotus">Lotus
                            1.11.1</a></h4>
                </div>
            </div>
        </div>
     </div>   
</body>
</html>