<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <title>The ImageBoard Database</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="a.validate.01" content="391cac77cf2863c7a74bc2a35679aa014e9b" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P9JD6MKW');</script>
    <!-- End Google Tag Manager -->
</head>

<body>

    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P9JD6MKW"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id='nav' class="ui inverted segment">
        <div class="ui inverted secondary menu">
        <a class="item {{ 'active' if nav == '1' else '' }}" href='/'>
            <img src="{{ url_for('static', filename='favicon.ico') }}" style="margin-right: 13px; height: 16px; width: 16px;">
            ImageBoards.net
        </a>
        <a class="item {{ 'active' if nav == '2' else '' }}" href='/myboard'>
            Add My Board
        </a>
        <div class="right menu">
            <a class="item {{ 'active' if nav == '3' else '' }}" href='/about'>About</a>
        </div>
    </div>
    </div>


    {{ content |safe }}

    <div class="ui inverted footer segment center">
        <div class="ui container">

            <div class='centered'>
                <h4 class="ui inverted header">ImageBoards.net | 2024 | Lotus 1.2.3</h4>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

</body>

</html>