<div class="ui message inverted lucky">
<div class="feeling-lucky" >Are you Feeling Lucky ? </div>
</div>
<div class="ui message inverted lucky">
    <div class="titlebar"><i class="teal gift icon inverted"></i>The Lucky Box™</div>
    <hr>
    <div class="lucky-container">
        {% if not opened %}
        <div class="lootbox-closed">
            <div class="lootbox-gift">🎁</div>
            <form method="post">
                <button class="lootbox-btn ui button teal inverted" type="submit">Open the Box!</button>
            </form>
        </div>
        {% else %}
        <div class="lootbox-opened">
            <div class="lucky-card">
                <div class="ui inverted cards lucky">
                           {% for imb in imageboards %}
                            <div class="card">
                                <div class="content">
                    
                                    <div class="header">
                                        <img src="https://blossom.imageboards.net/favicons/{{ imb.id }}"
                                             class="favicon"
                                             alt="{{ imb.name }} favicon"
                                             loading="lazy">
                                        {{ imb.name }}
                                    </div>
                            
                                    <div class="meta">
                                        <a href="{{ imb.url }}" target="_blank">
                                            {{ imb.url }}
                                        </a>
                    
                                        {% if imb.mirrors is defined and imb.mirrors | length > 0 %}
                                        <details class="ui accordion">
                                            <summary>
                                                [+{{imb.mirrors|length}}]
                                            </summary>
                                            <div class="content mirrors">
                                                <div class="ui list">
                                                    {% for mi in imb.mirrors %}
                                                    <div class="item">
                                                        <a href="{{ mi }}" target="_blank">{{ mi }}</a>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </details>
                                        {% endif %}
                                    </div>
                            
                                    <div class="meta">
                                        <div class="ui labels">
                                            {% if imb.software %}
                                            <div title="{{ imb.software | join(', ') }}"
                                                 class="ui teal inverted basic label">
                                                <i class="cog icon"></i>
                                                {{ imb.software[-1] }}
                                            </div>
                                            {% endif %}
                            
                                            {% for lg in imb.language %}
                                            <div class="ui teal inverted basic label">
                                                {% if lg == 'en' %}
                                                    <i class="uk flag"></i>en
                                                {% elif lg == 'ja' %}
                                                    <i class="jp flag"></i>ja
                                                {% elif lg == 'zh' %}
                                                    <i class="cn flag"></i>zh
                                                {% elif lg == 'ko' %}
                                                    <i class="kr flag"></i>ko
                                                {% elif lg == 'uk' %}
                                                    <i class="ua flag"></i>uk
                                                {% elif lg == 'be' %}
                                                    <i class="by flag"></i>be
                                                {% elif lg == 'ar' %}
                                                    <i class="eg flag"></i>ar
                                                {% elif lg == 'sv' %}
                                                    <i class="se flag"></i>sv
                                                {% elif lg == 'hi' %}
                                                    <i class="in flag"></i>hi
                                                {% else %}
                                                    <i class="{{ lg }} flag"></i>{{ lg }}
                                                {% endif %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                    
                                    <div class="description">
                                        <p>{{ imb.description }}</p>
                                    </div>
                                </div>
                                
                                {% if imb.boards is defined and imb.boards | length > 0 %}
                                <div class="extra content card-actions">
                                    <details class="ui accordion">
                                        <summary>
                                                <i class="comments icon"></i>
                                                Boards
                                        </summary>
                                        <div class="content mirrors">
                                            <div class="ui list">
                                                {% for board in imb.boards %}
                                                <div class="item">{{ board }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </details>
                                    </div>
                                    {% endif %}
                            </div>
                            {% endfor %}
                </div>
                
            </div>
            <form method="post">
                <button class="lootbox-btn ui button teal inverted" type="submit">Try Again</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>
