<div class="ui message">
    <div class="header">
        How to get your board on ImageBoards.net
    </div>
    <p>ImageBoards.net is a frontend for <a
            href='https://github.com/imageboardsnet/imageboards.json'>github.com/imageboardsnet/imageboards.json</a> you
        need to make a pull reques.</p>
    <br>
    <div class="header">How to Make a Pull Request on GitHub</div>
    <br>
    <li><strong>Fork the Repo:</strong> Navigate to the  <a href='https://github.com/imageboardsnet/imageboards.json'>GitHub page</a> and click the 'Fork' button at the top
        right to create a copy under your account.</li>
    <li><strong>Clone Your Fork:</strong> Use the <code>git clone</code> command with your fork's URL to clone it to
        your local machine.
        <pre><code>git clone https://github.com/your-username/imageboards.json.git</code></pre>
    </li>
    <li><strong>Create a New Branch:</strong> Change into your repository's directory and create a new branch for your
        changes.
        <pre><code>cd the-repository
git checkout -b your-branch-name
        </code></pre>
    </li>
    <li><strong>Make Your Changes:</strong> Open the files in your editor, make your changes, and save them.</li>
    <li><strong>Commit Your Changes:</strong> Stage and commit your changes to your branch.
        <pre><code>git add .
git commit -m 'A descriptive message about your changes'
        </code></pre>
    </li>
    <li><strong>Push Your Changes:</strong> Push your branch and changes to GitHub.
        <pre><code>git push origin your-branch-name</code></pre>
    </li>
    <li><strong>Create the Pull Request (PR):</strong> Go to the original repository on GitHub, click 'Pull requests' >
        'New pull request' > 'compare across forks', select your fork and the branch with your changes, and click
        'Create pull request' to submit.</li>
</div>