<form action="/search" method="post">
    <div id="search">
        <div class="ui labeled input search-input" style="margin-top: 3px;">
            <div class="ui basic inverted teal label" style="width: 90px;">Language</div>
            <select class="ui selection dropdown" id="language" name="language">
                <option value=""> all</option>
                {% for language in languages %}
                <option value="{{ language }}" {% if language==search_language %} selected {% endif %}> {{ language }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="ui labeled input search-input" style="margin-top: 3px">
            <div class="ui basic inverted teal label" style="width: 90px;">Software</div>
            <select class="ui selection dropdown" id="software" name="software">
                <option value=""> all</option>
                {% for software in softwares %}
                <option value="{{ software }}" {% if software==search_software %} selected {% endif %}> {{ software }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="ui labeled input search-input" style="margin-top: 3px;margin-bottom: 3px;">
            <div class="ui basic inverted teal label" style="width: 90px;">Keyword</div>
            <input type="text" id="keyword" name="keyword" placeholder="Enter a Keyword" value="{{ search_keyword }}">
        </div>
        <button class="ui secondary teal inverted button search search-input" type="submit"
            style="height: 38px;"> <i class="search icon"></i> Search</button>
    </div>
</form>